html{   
    background: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.app{
    text-align: center;
    font-size: 1.3rem;
    color: white;
    width: 70%;
    margin: auto;
}
.inputBox{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0;
}
input, input+button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
}
input+button:hover{
    background-color: indianred;
    color:white;
}
.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.item{
    border: 1px solid white;
    padding: 1rem;
}
.list button{
    margin: .5rem;
    margin-top: 2rem;
    padding: 0.5rem;
}